.contact h2 {
    text-align: left;
}

.contact p {
    margin-top: 1.5rem;
    font-size: 2vmax;
}

.contact p a {
    background-color: black;
    color: white;
    padding: .3rem;
    padding-bottom: .1rem;
    border-radius: 10px;
}

/* media queries */
@media screen and (max-width: 768px) {
    .contact p {
        font-size: 3vmax;
    }

}